div#topbar {
    position: absolute;
    top: 5px;
    right: 5px;
    left: 5px;
    height: 40px;
    border: 3px solid black;
}

div#topbarleft {
  position: absolute;
  left: 0px;
  height: 100%;
  background-color: yellow;
}

div#topbarright {
  position: absolute;
  right: 0px;
  height: 100%;
  background-color: yellow;
}

div#loginsquare {
  -webkit-align-self: center;
  align-self: center;
  width: 256px;
  height: 256px;
  background-color: green;
}
