div#topbar {
    position: fixed;
    top: 5px;
    right: 5px;
    left: 5px;
    height: 40px;
    border: 3px solid black;
}

div#topbarleft {
  position: absolute;
  left: 0px;
  height: 100%;
  background-color: yellow;
}

div#topbarright {
  position: absolute;
  right: 0px;
  height: 100%;
  background-color: yellow;
}

div#loginsquare {
  position: fixed;
  width: 256px;
  height: 256px;
  background-color: green;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
